.newsletter {
    width: 65%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0 9rem;
    margin-bottom: 15rem;
    gap: 1rem;
    background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
}
.newsletter h1 {
    color: #454545;
    font-size: 3rem;
    font-weight: 600;
}
.newsletter p {
    color: #454545;
    font-size: 1.5rem;
}
.newsletter div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 50rem;
    height: 3rem;
    margin-top: 2rem;
}
.newsletter input {
    width: 30rem;
    outline: none;
    margin-left: 2rem;
    color: #616161;
    font-size: medium;
    border: 1px solid gray;
    height: 3rem;
    border-radius: 999px;
    padding-left: 2rem;
    border-right: none;
}

.newsletter div .subBtn {
    width: 10rem;
    height: 3.3rem;
    border-radius: 999px;
    background-color: black;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    margin-left: -3rem;
    border: none;
}
.subBtn {
    position: relative;
    overflow: hidden;
    height: 3rem;
    padding: 0 2rem;
    border-radius: 1.5rem;
    background: #3d3a4e;
    background-size: 400%;
    color: #fff;
    border: none;
}

.subBtn:hover::before {
    transform: scaleX(1);
}

.button-content {
    position: relative;
    z-index: 1;
}

.subBtn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(
        82.3deg,
        rgb(177, 93, 233) 10.8%,
        rgb(116, 88, 238) 94.3%
    );
    transition: all 0.475s;
    color: white;
}
